@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 18px;
        scroll-behavior: smooth;
    }
    h1 {
        font-family: 'Fraunces', serif;  
    }
    ul {
        font-family: 'Barlow', sans-serif;
    }
    h2 {
        font-family: 'Fraunces', serif;
    }
    p{
        font-family: 'Barlow', sans-serif;
    }
    #link-hover {
        font-family: 'Fraunces', serif;
    }
    span {
        font-family: 'Fraunces', serif;  
    }
    h3 {
        font-family: 'Barlow', sans-serif;
    }

    button {
        font-family: 'Fraunces', serif;
        transition: 0.15s ease-in-out;
    }
}
